body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.wrapper,
.nav-list {
  list-style-type: none;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link-header {
  color: #2e2f42;
}
.header-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-item {
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-item:hover {
  color: #404bbf;
}
.nav-item:focus {
  color: #404bbf;
}
.nav-item:active {
  color: #404bbf;
}
.header-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}
.main-page {
  background-color: #2e2f42;
}
.main-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}
.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.main-button:focus,
.main-button:hover {
  background-color: #404bbf;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-card-title {
  text-align: center;
}
.team-card-text {
  text-align: center;
}
.team-card {
  background-color: #fff;
}
.portfolio {
  background-color: E7E9FC;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
}
.link-footer {
  color: #f4f4fd;
}
